
header{
	postion:fixed;
	top:0;
	right:0;
	width:80%;
	z-index:1000;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:30px 170px;
}
.logo{
	color:#333;
	font-weight:600;
	font-size:2.4rem;
}
.navbar{
	display:flex;
}
.navbar a{
	color:#299;
	font-size:1.1rem;
	padding: 10px 20px;
	font-weight:500;
}
.navbar a.hover{
	color:#333;
	transition :.4;
}
footer{
	postion:fixed;
	color:#299;
	display:flex;
	align-items:center;
	
	background:#eef;
}
.into h1{
	color:#299;

}
.into h2{
	color:#299;

}
.into p{
color:#299;	
}
.about{
	align-items:center;
	color:#299;
}
.info{
	color:#299;
}
.cover{
align-items:center;
padding:30px;
background:white;
border: 20px solid #299;}